.sign-up-form {
    width: 100%;
}

.form-field-container {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}

.form-field-input {
    margin: 0 10px;
    border-radius: 5px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    outline: none;
    padding: 3px;
}

.form-field-input:focus{
	box-shadow: 0 0 5px rgb(136, 170, 233);
	border: 1px solid rgb(136, 170, 233);
}

.input-result {
    font-weight: bold;
    transition: color 1s ease-in-out;
    transition: background-color 0.7s ease-in-out;
    background: #1d5987;
    color: white;
}

.input-result.hidden {
    background: white;
    color: white;
}