
.popup-message {
    position: absolute;
    background: rgb(200, 10, 100);
    top: 22%;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in;
}

.popup-message.show-popup {
    opacity: 1;
    pointer-events: all;
}

.popup-message .button {
    margin-top: 30px;
}