body, html {
    width: 100%;
    height: 100%;
    background: #505050;
    font-family: Calibri, sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.view-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
}

.view-header h3 {
    font-style: italic;
}

.game-view {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.game-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.height-cancel {
    width: 100%;
    max-width: calc(100vh - 100px);
    min-width: 600px;
    margin: 15px;
}

.board-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100%;
    position: relative;
}

.board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: lightgreen;
}

.board-row {
    display: flex;
    flex-grow: 1;
}

.board-cell {
    position: relative;
    border: 1px solid black;
    flex-grow: 1;
    padding: 1%;
    box-shadow: inset rgba(0,0,0,.6) 3px 3px 5px;
}

.board-cell.can-place .board-piece {
    border: 3px solid rgba(52, 150, 70, .6);
}

.board-cell.show-score::before {
    content: attr(data-score);
    display: block;
    position: absolute;
    width: 80%;
    height: 20%;
    top: 10%;
    left: 10%;
    text-align: center;
    background: rgba(200, 10, 100, .7);
    animation: riseAndShow 1s ease-in forwards;
    transform: translate(0, 20px);
    border-radius: 3px;
    opacity: 0;
}

@keyframes riseAndShow {
    0% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}


.board-piece {
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all 250ms ease-in;
    width: 100%;
    height: 100%;
}

.black .board-piece {
    border: 1px solid black;
    background-color: black;
    box-shadow: rgba(0, 0, 0, .7) 5px 5px 10px;
}

.white .board-piece {
    border: 1px solid black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, .7) 5px 5px 10px;
}

.sidebar {
    background: #F3FFC6;
    width: 20%;
    max-width: 500px;
    min-height: 100%;
    min-width: 300px;
    color: #394053;
    padding: 20px 10px 0 10px;
}

.statistics-field-container{
    display: flex;
    justify-content: space-between;
}

.statistics-field-name{

}
.statistics-field-container:not(last-child) {
    margin-bottom: 15px;
}

.statistics-data{
    max-width: 100px;
    width: 100px;
    background: rgba(200,200,200,.3);
    padding: 10px;
}