
.view-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .6);
}

.view-header h3 {
    font-style: italic;
}

.player-controls-container {
    align-self: flex-start;
    max-width: 200px;
}

.player-controls-container div {
    padding: 5px;
    margin: 5px;
}