
.popup-message {
    position: absolute;
    background: white;
    top: 17%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in;
    width: 450px;
}

.popup-message.show-popup {
    opacity: 1;
    pointer-events: all;
}

.popup-message .button {
    margin-top: 30px;
}

.player {
    width: 70%;
    font-size: 20px;
}

.player-name {
    font-weight: bold;
}

.player-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px
}

.player-score{
    font-style: italic;
    font-size: 18px;
}

.player-position {
    font-weight: bold;
    font-size: 24px;
    color: rgb(200, 0, 150);
    text-shadow: 0 0 10px rgba(255, 150, 0, 1);
}

.player:not(:last-child) .player-data{
    border-bottom: 2px solid;
    padding-bottom: 5px;
}
